<div class="episode-wrapper">

  <div class="field field-episode-image">
    {% if still_path %}
      <img src="//image.tmdb.org/t/p/w400{{ still_path }}" alt="{{ title }}" title="{{ title }}">
    {% endif %}
  </div>

  <div class="field field-original-title">{{ original_title }}</div>

  <div class="field field-title">{{ title }}</div>

  <div class="field field-episode-number">{{ episode_number }}</div>

  <div class="field field-air-date">{{ air_date }}</div>

  {{ imdb_rating }}

  <div class="field field-overview">{{ overview }}</div>

  {% if guest_stars %}
    <div class="guest-stars-wrapper">
      <div class="guest-stars-label">{{ "guest stars"|t }}</div>
      <div class="guest-stars-content">{{ guest_stars }}</div>
    </div>
    {{ attach_library('tmdb/guest_stars') }}
  {% endif %}

</div>
