{% set person_classes = create_attribute({'class': ['person']}) %}

{% if photo == false %}
  {% set person_classes = person_classes.addClass('no-photo') %}
{% endif %}

<a href="{{ path('imdb.tmdb_person_redirect', {'tmdb_id': tmdb_id}) }}" {{ person_classes }}>
  <div class="avatar">{{ avatar }}</div>
  <div class="name">{{ name }}</div>
  {% if role %}
    <div class="property role">{{ role }}</div>
  {% endif %}
  {% if department %}
    <div class="property department">{{ department }}</div>
  {% endif %}
  {% if job %}
    <div class="property job">{{ job }}</div>
  {% endif %}
</a>
