<div class="episode-wrapper">

  <div class="episode-image">
    {% if still_path %}
      <img src="//image.tmdb.org/t/p/w400{{ still_path }}" alt="{{ title }}" title="{{ title }}" width="400" height="225">
    {% endif %}
  </div>

  <div class="episode-info">
    {% if original_title %}
      {{ original_title }}
    {% endif %}

    <div class="title-wrapper">
      <div class="field field-title">{{ title }}</div>
      <div class="field field-episode-number">{{ episode_number }}</div>
    </div>

    <div class="properties">
      <div class="field field-air-date">{{ air_date }}</div>
      {% if runtime %}
          <div class="field runtime">{{ runtime }}</div>
      {% endif %}
      <div class="field imdb-rating-wrapper">{{ imdb_rating }}</div>
    </div>

    <div class="field field-overview">{{ overview }}</div>
  </div>

  {% if guest_stars %}
    <div class="guest-stars-wrapper">
      <div class="guest-stars-label">{{ "guest stars"|t }}</div>
      <div class="guest-stars-content">{{ guest_stars }}</div>
    </div>
    {{ attach_library('tmdb/guest_stars') }}
  {% endif %}

</div>
