<article data-redirect="{{ path('imdb.tmdb_node_redirect', {'bundle': bundle, 'tmdb_id': tmdb_id}) }}" class="node-teaser">

  <div class="poster-wrapper">
    <div class="field field-poster">
      {{ content.field_poster }}
    </div>
    <div class="imdb-rating-wrapper">
      {{ content.extra_field_imdb_rating }}
    </div>
  </div>

  <div class="title-wrapper">
    {{ content.extra_field_title }}
    {{ content.extra_field_original_title }}
  </div>

</article>
