{% set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
] %}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <section class="bg-white">
    <div class="container">

      <div class="node-wrapper">
        <div class="poster-wrapper">
          {{ content.field_poster }}
          {{ content.extra_field_approved }}
        </div>

        <div class="content-wrapper">
          {{ content.extra_field_tabs }}
          {{ content.extra_field_genres }}
          {{ content.extra_field_original_title }}
          {{ content.extra_field_title }}

          {% if icon_properties %}
            <div class="block-icon-properties">
              {{ icon_properties }}
            </div>
          {% endif %}

          <div class="properties">
            {{ content|without(
              'field_poster',
              'extra_field_approved',
              'extra_field_tabs',
              'extra_field_genres',
              'extra_field_original_title',
              'extra_field_title',
              'extra_field_overview',
              'extra_field_seasons',
              'extra_field_videos'
            ) }}
          </div>

          {{ content.extra_field_overview }}
        </div>
      </div>

    </div>
  </section>

  <section class="bg-light-gray">
    {{ content.extra_field_seasons }}
    {{ content.extra_field_videos }}
  </section>
</article>
