<a href="{{ path('imdb.tmdb_node_redirect', {'bundle': bundle, 'tmdb_id': tmdb_id}) }}" class="node-teaser">

  <div class="poster-wrapper">
    <div class="field field-poster">
      {% if poster %}
        <img src="//image.tmdb.org/t/p/w185{{ poster }}" alt="{{ title }}" title="{{ title }}" width="185" height="278">
      {% endif %}
    </div>
    <div class="imdb-rating-wrapper">
      {{ imdb_rating }}
    </div>
  </div>

  <div class="title-wrapper">
    <div class="field field-title">{{ title }}</div>
    {{ original_title }}
  </div>

</a>
